---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Tracks from '../../components/Tracks.astro';
import Speakers from '../../components/Speakers.astro';
import Sponsors from '../../components/Sponsors.astro';
import Location from '../../components/Location.astro';
import Registration from '../../components/Registration.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="AWS Student Community Day">
  <Header />
  <main>
    <Hero />
    <About />
    <Tracks />
    <Speakers />
    <Sponsors />
    <Location />
    <!-- <Registration /> -->
  </main>
  <Footer />
</Layout>
